.featureWrapperHome{
    text-align :center;
    display: flex;
    flex-direction: column;
    /* margin: auto; */
    justify-content: center;
}

.featureTitle{
    color: white;
    max-width: 720px;
    font-weight: 50px;
    font-weight: 700;
    margin: 0;
}

.featureSubtitle{
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin: 15px auto;

}